$color-white: #fff;
$bg-grey: #e1e2e1;
$grey: rgb(178, 179, 179);
$light-grey: rgb(230, 230, 230);
$color1: rgb(80, 81, 79);
$color2: rgb(242, 95, 92);
$color3: rgb(255, 224, 102);
$color4: rgb(36, 123, 160);
$color5: rgb(112, 193, 179);
