@import './_variable.scss';

.order-place-form .placeorder-title {
  background-color: darken($color5, 20%);
  color: rgba($light-grey, 1);
  margin: 0 0 1rem 0;
  padding: 0.6rem 1.5rem .8rem;
  border-radius: 5px;
}
.place-order .card .sec-title {
  margin: 0;
}
