@import 'styles/_variable.scss';

.order-place-form .placeorder-title {
  background-color: $color5;
  color: rgba($light-grey, 0.85);
  margin: 0 0 1rem 0;
  padding: 0.6rem 1.5rem 1rem;
  border-radius: 5px;
}
