@import 'styles/_variable.scss';

.product-box {
  color: rgba($color1, 0.85);
  height: 20rem;
  margin-top: 1.5rem;
}
.product-box .card-header {
  color: rgba($light-grey, 0.95);
  padding: 0;
  border-bottom: 2px solid rgba($color2, .95);
}
.product-box .card-header .top-part {
  height: 1.25rem;
  background-color: darken($color5, 20%);
}
.product-box .card-header .card-title {
  padding: .75rem 0;
  margin: 0;
  height: 4.125rem;
  text-align: center;
  background-color: $color3;
}
.product-box .card-header .card-title h6 {
  font-size: 1rem;
  line-height: 1.4;
  font-weight: normal;
}
.product-box .card-body {
  background-color: $bg-grey;
  padding: 0.5rem;
}
.product-box .list-group {
  font-size: .875rem;
}
.product-box .list-group-item {
  padding: .5rem 1.25rem;
  margin-bottom: -1px;
  background-color: transparent;
  border: 1px solid transparent;
}
.product-box .card-footer {
  padding: .75rem 1.25rem;
  background-color: transparent;
  border-top: 1px solid transparent;
}
.btn-outline-success:hover {
  color: $color-white;
  background-color: $color4;
  border-color: darken($color4, 15%);
}
.btn-outline-success {
  color: $color4;
  background-color: transparent;
  background-image: none;
  border-color: $color4;
}
.btn-outline-success:not([disabled]):not(.disabled).active,
.btn-outline-success:not([disabled]):not(.disabled):active,
.show > .btn-outline-success.dropdown-toggle {
  color: $color-white;
  background-color: $color4;
  border-color: $color4;
  box-shadow: 0 0 0 0.2rem rgba($color4, 0.5);
}
.product-bar {
  padding: 8px 10px 10px;
  background-color: $bg-grey;
  height: 3.375rem;
}
.product-bar .filter {
  width: 40%;
}
.product-bar .sorting {
  width: 50%;
}
.product-bar .col-form-label {
  text-align: right;
}
.product-bar .sorting .row {
  width: 50%;
}
.product-bar .sorting .col-form-label {
  margin-right: 0.5rem;
  text-align: left;
}
