.product-box {
  color: rgba(100, 100, 100, 0.85);
  height: 396px;
  margin-top: 15px;
}
.product-box .card-header {
  color: rgba(230, 230, 230, 0.85);
  padding: 0;
  border-bottom: 1px solid #00675b;
}
.product-box .card-header .top-part {
  height: 20px;
  background-color: #00675b;
}
.product-box .card-header .card-title {
  padding: .75rem 1.25rem;
  margin: 0;
  height: 66px;
  text-align: center;
  background-color: #009688;
}
.product-box .card-header .card-title h6 {
  font-size: 16px;
  line-height: 1.4;
  font-weight: normal;
}
.product-box .card-body {
  background-color: #e1e2e1;
  padding: 1rem;
}
.product-box .list-group {
  font-size: 14px;
}
.product-box .list-group-item {
  padding: .75rem 1.25rem .5rem;
  margin-bottom: -1px;
  background-color: transparent;
  border: 1px solid transparent;
}
.product-box .card-footer {
  padding: .75rem 1.25rem;
  background-color: transparent;
  border-top: 1px solid transparent;
}
.btn-outline-success:hover {
  color: #fff;
  background-color: #7cb342;
  border-color: #4b830d;
}
.btn-outline-success {
  color: #7cb342;
  background-color: transparent;
  background-image: none;
  border-color: #7cb342;
}
.btn-outline-success:not([disabled]):not(.disabled).active,
.btn-outline-success:not([disabled]):not(.disabled):active,
.show > .btn-outline-success.dropdown-toggle {
  color: #fff;
  background-color: #7cb342;
  border-color: #7cb342;
  box-shadow: 0 0 0 0.2rem rgba(75, 131, 13, 0.5);
}
.product-bar {
  padding: 5px 10px 10px;
  background-color: #e1e2e1;
  height: 50px;
}
.product-bar .filter {
  width: 40%;
}
.product-bar .sorting {
  width: 50%;
}
.product-bar .col-form-label {
  text-align: right;
}
.product-bar .sorting .row {
  width: 50%;
}
.product-bar .sorting .col-form-label {
  margin-right: 0.5rem;
  text-align: left;
}
