body {
  font-family: 'Roboto Condensed', sans-serif;
}
button,
a,
.fa-close {
  cursor: pointer;
}
button[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}
a[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}
.side-nav .nav-link {
  color: #00796b;
}
.side-nav .nav-link:hover,
.side-nav .nav-link:focus {
  color: #bf360c;
}
.side-nav .nav-link.active {
  color: rgba(178, 179, 179, 0.9);
}
.side-nav .nav-link.active:hover,
.side-nav .nav-link.active:focus {
  color: rgba(178, 179, 179, 0.9);
}
